JWT_SECRET='mysecretssshhhhhhh'

RATE_LIMIT_MAX_REQUESTS=100 // 100 requests per 15 minutes
RATE_LIMIT_WINDOW_MS=900000 // 15 minutes

RATE_LIMIT_MAX_REQUESTS_LOGIN=10 // 10 requests per 15 minutes

VITE_IMAGE_API_KEY='myapikey'