p {
  padding: 1rem 0;
}

.card-title {
  font-size: 1.2rem !important;
}

img {
  transition: 0.5s ease;
}

.blog-image:hover {
  transform: scale3d(1.1, 1.1, 1);
}

.thumbnail {
  height: 200px;
  overflow: hidden;
}

.underline:hover {
  text-decoration: underline;
}

ion-card-subtitle {
  font-weight: 700;
}

code {
  background-color: var(--ion-color-dark);
  color: var(--ion-color-light);
  padding: 1rem;
  border-radius: 0.2rem;
}