.header-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.header-button {
  font-size: 0.8rem;
  --border-radius: 4px;
  font-weight: 500;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}